@import "tailwindcss";

/*
 * Global styles
 * Centralized place for application-wide styles and customizations
 * that complement Tailwind's utility classes.
 */
@theme {
  --font-sans: "Figtree", sans-serif;

  --color-brand-blue: #2c94de;
  --color-brand-blue-hover: #1a78bc;
  --color-brand-dark: #1e293b;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }

  * {
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 6px; /* Vertical scrollbar width */
    height: 6px; /* Horizontal scrollbar height */
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* Makes the track invisible */
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px; /* Fully rounded handle */
  }
}
